*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: auto;
}

/*CSS for header*/
#header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 56px;
}
#header .logo{
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
}
#header .logo img{
    width: 100px; 
    height: 100%;   
}

#header .logo i{
    
    margin: 0 20px;
    cursor: pointer;
}
.fas,.far{
    font-size: 20px;
}

#header .search_box{
    width: 100%;
    display: flex;
    align-items: center;
}
#header .search_box .input_box{
    width: 400px;
    height: 35px;
    padding: 10px;
    border: 1px solid #CCCCCC;
    
}
#header .search_box .btn_search{
    height: 35px;
    width: 65px;
    font-size: 20px;
    border: 1px solid #CCCCCC;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
#header .search_box .btn_micro{
    height: 35px;
    width: 35px;
    border: none;
    background-color: white;
    padding: 8px;
}
#header .menu_top{
   display: flex;
   align-items: center;
   padding: 20px;
}
#header .menu_top i{
    padding: 0 15px;
}
#header .menu_top button{
    width: 100px;
    height: 40px;
    background-color: white;
    border: 1px solid #4889DF;
    color: #4889DF;
}
#header .menu_top button span{
    padding: 0 5px;
}
/*CSS for sidebar*/
#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 56px;
    width: 230px;
    height: 100%;
    overflow: scroll;
    scrollbar-width: thin;
   
}

#sidebar::-webkit-scrollbar{
    width: 3px;
     
}
#sidebar::-webkit-scrollbar-thumb{
    background-color: #909090;    
    border-radius: 50px;       
    border: 3px solid #909090; 
    
}
#sidebar .sidebar_menu {
    width: 100%;
    margin-bottom: 15px;
    flex-direction: column;
    display: flex;
}
#sidebar .sidebar_menu .sidebar_catelory{
    display: flex;
    align-items: center;
}
#sidebar .sidebar_menu .sidebar_catelory{
    padding: 5px;
}
#sidebar .sidebar_menu .sidebar_catelory span{
    padding: 5px 10px;

}
/*CSS for main*/
#main{
    position: fixed;
    margin-top: 56px;
    margin-left: 230px;
    padding: 0px 10px;
    height: 100vh;
    cursor: pointer;
    overflow: scroll;
}
#main .main_right_title{
    display: flex;
    background-color: #ffffff;
    align-items: center;
    padding: 10px 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    border-top: 1px solid #e5e5e5; 
    border-bottom: 1px solid #e5e5e5; 
    
}
#main .main_right_title a{
    padding: 10px;
    margin-left: 15px;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    text-decoration: none;
}
.main_content {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}
.main_content .video{
    padding: 10px;
}
.video_content img{
    width: 290px;
    height: 150px;
    padding-bottom: 10px;
}
.title_video{
    display: flex;
    width: 290px;
}
.title_video_logo img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
